<li <%= 'class="active"'.html_safe if controller_name == 'ballers'%>><%= link_to "Ballers", ballers_url  %></li>
<li <%= 'class="active"'.html_safe if controller_name == 'frogs'%>><%= link_to "Frogs", main_url  %></li>
<li <%= 'class="active"'.html_safe if controller_name == 'cube'%>><%= link_to "Cube", cube_url  %></li>
<li class="disabled"><a href="#">From Phone</a></li>
