<!DOCTYPE html>
<html>
<head>
  <title>TestProjectTwo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header"><span class="place">&lt;Header&gt;</span></div>

<div id="nav-and-content">
  <div id="left-nav">
    <span class="place">&lt;Menu&gt;</span>
    <%= render 'shared/menu' %>
  </div>
  <div id="content">
    <span class="place">&lt;Content&gt;</span>
    <%= yield %>
  </div>
</div>

<footer>
  <span class="place">&lt;Footer&gt;</span>
</footer>

</body>
</html>
