<!DOCTYPE html>
<html lang="en">
<head>
    <title>TestProjectTwo</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>

<body>

  <header><span class="place">&lt;Header&gt;</span></header>

  <div id="nav-and-content">
    <nav>
      <span class="place">&lt;Menu&gt;</span>
      <%= render 'shared/menu' %>
    </nav>
    <main>
      <span class="place">&lt;Content&gt;</span>
      <%= yield %>
    </main>
  </div>

  <footer>
    <span class="place">&lt;Footer&gt;</span>
  </footer>

</body>
</html>
